.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
}
.container .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}
.container .home .text {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #96A8C9;
}
.container .home .scroll-arrow {
  width: 40px;
  height: 40px;
  border-width: 3px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
  animation: arrowAnimation 1.5s infinite;
  transform: rotate(-135deg);
  margin-top: 130px;
}
.container .skills {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .skills h3 {
  color: #e3e3fd;
  margin-bottom: 25px;
}
.container .skills ul li {
  display: inline-block;
  margin: 20px 20px;
  width: 48px;
  height: 48px;
}
.container .projects {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .projects h3 {
  color: #e3e3fd;
  margin-bottom: 25px;
}
.container .projects .cardWrapper {
  display: flex;
  align-items: center;
}
.container .projects .cardWrapper .card {
  margin: 15px;
  z-index: 10;
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.container .projects .cardWrapper .card img {
  width: 100%;
  height: 200px;
  transition: 0.5s;
}
.container .projects .cardWrapper .card img:hover {
  scale: 1.4;
}
.container .projects .cardWrapper .card .cardTitle {
  background: #e0e0e0;
  width: 350px;
  height: auto;
  padding: 5px;
  z-index: 11;
  display: flex;
  justify-content: space-between;
}
.container .projects .cardWrapper .card .cardTitle .cardInfo h3,
.container .projects .cardWrapper .card .cardTitle .cardInfo p {
  font-family: "Roboto", sans-serif;
}
.container .projects .cardWrapper .card .cardTitle .cardLinks {
  display: flex;
}
.container .projects .cardWrapper .card .cardTitle .cardLinks a {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #96A8C9;
  color: black;
  margin-left: 5px;
}
.container .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}
.container .contact h3 {
  color: #e3e3fd;
  margin-bottom: 25px;
}
.container .contact #form {
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.container .contact #form .inputWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.container .contact #form .inputWrapper i {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96A8C9;
  border-radius: 10px 0 0 10px;
}
.container .contact #form .inputWrapper input {
  height: 35px;
  width: 325px;
  border: none;
  outline: none;
  text-indent: 10px;
  border-radius: 0 10px 10px 0;
  background-color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}
.container .contact #form textarea {
  resize: none;
  width: 360px;
  border: none;
  outline: none;
  text-indent: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 7px;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}
.container .contact #form input[type=submit] {
  border-radius: 10px;
  height: 35px;
  background-color: #96A8C9;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

@keyframes arrowAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  .cardWrapper {
    flex-direction: column;
  }
}/*# sourceMappingURL=home.css.map */