footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;

    .social {
        z-index: 10;

        img {
            cursor: pointer;
        }
    }

    p {
        color: white;
        margin-bottom: 25px;
        font-size: small;
    }
}